Directory.build.props
obj
bin
.semantic-kernel
output.txt
.DS_Store
appsettings.dev.json
appsettings.json

# Jupyter Notebook Checkpoints
notebooks/.ipynb_checkpoints/


.fake

weaviate_data
qdrant_data
.env
*.sqlite
